nav {
  display: flex;
  justify-content: space-around;
  height: px;
  border: 1px solid gray;
  background-color: green;
}
.Box {
  display: flex;
}
.Menu {
  display: flex;
  justify-content: center;
  /* display: grid; */
  width: 100%;
  grid-template-columns: auto auto auto;
  /* background-color: yellow; */
}
.food {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  border: 2px solid rgb(236, 187, 114);
  background-color: rgba(162, 212, 207, 0.5);
}
.order {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: orange;
}

/* .friedRice {
  display: flex;
  justify-content: center;
} */
.list {
  display: flex;
  grid-template-columns: auto auto;
  height: 600px;
  width: 100%;
  background-color: yellow;
}
