<!-- <nav>
	<label for="food">รายการอาหาร</label>
</nav> -->
<div class="Box">
	<div class="Menu">
		<div class="friedRice food">
			<form [formGroup]="form">
				<div>ข้าวผัด</div>
				<div>
					<img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/123456.jpg?alt=media&token=517f3819-3cb3-4de3-94c6-34d26631b6a3'
    width="200px" height="200px"></div>
					<label for="ingredients">วัตถุดิบ: </label>
					<select id="ingredients" formControlName="ingredients" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">ทะเล</option>
          <option value="รวม">รวม</option>
          </select>
					<label for="price">ราคา </label>
					<select id="price" formControlName="price" value="">
          <option value=40>ปกติ 40 บาท</option>
          <option value=50>พิเศษ 50 บาท</option>
          </select>

					<label>จำนวน</label>
					<input type="text" formControlName="name"><br>
					<label>หมายเหตุ</label>
					<textarea formControlName="msg"></textarea><br>
					<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
				</div>


				<div class="steak food">
					<div>สเต็ก</div>
					<div><img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/%E0%B8%AA%E0%B9%80%E0%B8%95%E0%B9%87%E0%B8%81%E0%B9%84%E0%B8%81%E0%B9%88%E0%B9%82%E0%B8%84%E0%B8%A5%E0%B8%B2.jpg?alt=media&token=b894eeed-5f1b-486f-932e-f6c3e9d6da37' width="200px" height="170px">
        </div>
						<label for="ingredients1">วัตถุดิบ: </label>
						<select id="ingredients1" formControlName="ingredients1" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">เนื้อวัว</option>
          <option value="รวม">ปลา</option>
          </select>
						<label for="price1">ราคา </label>
						<select id="price1" formControlName="price1" value="">
          <option value="ปกติ">ปกติ 40 บาท</option>
          <option value="พิเศษ">พิเศษ 50 บาท</option>
          </select>
						<form [formGroup]="form">
							<label>จำนวน</label>
							<input type="text" formControlName="name1"><br>
							<label>หมายเหตุ</label>
							<textarea formControlName="msg1"></textarea><br>
							<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
					</div>


					<div class="collard food">
						<div>ผัดคะน้า</div>
						<div>
							<img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/11.jpg?alt=media&token=2533d59f-0944-4d01-bb33-ca725fab42a9' width="200px" height="170px"></div>
							<label for="ingredients2">วัตถุดิบ: </label>
							<select id="ingredients2" formControlName="ingredients2" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">ทะเล</option>
          <option value="รวม">หมูกรอบ</option>
          </select>
							<label for="price2">ราคา </label>
							<select id="price2" formControlName="price2" value="">
          <option value="ปกติ">ปกติ 40 บาท</option>
          <option value="พิเศษ">พิเศษ 50 บาท</option>
          </select>
							<form [formGroup]="form">
								<label>จำนวน</label>
								<input type="text" formControlName="name2"><br>
								<label>หมายเหตุ</label>
								<textarea formControlName="msg2"></textarea><br>
								<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
						</div>


						<div class="curry food">
							<div>ข้าวผัดผงกระหรี่</div>
							<div><img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/photo.jpg?alt=media&token=8a21bc87-a344-4822-b24a-36d88585d05b' width="200px" height="170px">
        </div>
								<label for="ingredients3">วัตถุดิบ: </label>
								<select id="ingredients3" formControlName="ingredients3" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">ทะเล</option>
          </select>
								<label for="price3">ราคา </label>
								<select id="price3" formControlName="price3" value="">
          <option value="ปกติ">ปกติ 40 บาท</option>
          <option value="พิเศษ">พิเศษ 50 บาท</option>
          </select>
								<form [formGroup]="form">
									<label>จำนวน</label>
									<input type="text" formControlName="name3"><br>
									<label>หมายเหตุ</label>
									<textarea formControlName="msg3"></textarea><br>
									<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
							</div>


							<div class="friedBasil food">
								<div>ข้าวผัดกะเพรา</div>
								<div>
									<img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/Fried-basil-with-pork-Chops.jpg?alt=media&token=6362dfab-09bf-474e-84d8-6ff42304ae93' width="200px" height="170px"></div>
									<label for="ingredients4">วัตถุดิบ: </label>
									<select id="ingredients4" formControlName="ingredients4" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">ทะเล</option>
          <option value="รวม">รวม</option>
          </select>
									<label for="price4">ราคา </label>
									<select id="price4" formControlName="price4" value="">
          <option value="ปกติ">ไม่ไข่ดาว 40 บาท</option>
          <option value="พิเศษ">ใส่ไข่ดาว 45 บาท</option>
          </select>
									<form [formGroup]="form">
										<label>จำนวน</label>
										<input type="text" formControlName="name4"><br>
										<label>หมายเหตุ</label>
										<textarea formControlName="msg4"></textarea><br>
										<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
								</div>


								<div class="suki food">
									<div>สุกี้</div>
									<div>
										<img src='https://firebasestorage.googleapis.com/v0/b/aonrestaurant.appspot.com/o/sukiyaki.jpg?alt=media&token=fd3f62b0-272a-4d79-9e7c-8c4644ca001d' width="200px" height="170px"></div>
										<label for="ingredients5">วัตถุดิบ: </label>
										<select id="ingredients5" formControlName="ingredients5" value="">
          <option value="หมู">หมู</option>
          <option value="ไก่">ไก่</option>
          <option value="ทะเล">ทะเล</option>
          <option value="รวม">รวม</option>
          </select>
										<label for="price5">ราคา </label>
										<select id="price5" formControlName="price5" value="">
          <option value="ปกติ">ปกติ 40 บาท</option>
          <option value="พิเศษ">พิเศษ 50 บาท</option>
          </select>
										<form [formGroup]="form">
											<label>จำนวน</label>
											<input type="text" formControlName="name5"><br>
											<label>หมายเหตุ</label>
											<textarea formControlName="msg5"></textarea><br>
											<input type="submit" value="เพิ่ม" onclick="alert('เพิ่มแล้ว')" >
    </form>
									</div>
								</div>
								<!-- <div class="order">
									<div class="list"></div>
									<div class="price">
										<div>ราคารวม</div>
										<div>
											<button type="button" onclick="alert('ยังไม่เสร็จไอสัส')">สั่งอาหาร</button>
										</div>
									</div>


								</div> -->
							</div>